<%= form_with(model: notification) do |form| %>
  <% if notification.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(notification.errors.count, "error") %> prohibited this notification from being saved:</h2>

      <ul>
        <% notification.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user, style: "display: block" %>
    <%= form.text_field :user %>
  </div>

  <div>
    <%= form.label :event, style: "display: block" %>
    <%= form.text_field :event %>
  </div>

  <div>
    <%= form.label :message, style: "display: block" %>
    <%= form.text_field :message %>
  </div>

  <div>
    <%= form.label :send_type, style: "display: block" %>
    <%= form.number_field :send_type %>
  </div>

  <div>
    <%= form.label :message_type, style: "display: block" %>
    <%= form.number_field :message_type %>
  </div>

  <div>
    <%= form.label :sent_at, style: "display: block" %>
    <%= form.datetime_field :sent_at %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
