<div id="<%= dom_id notification %>">
  <p>
    <strong>User:</strong>
    <%= notification.user %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= notification.event %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= notification.message %>
  </p>

  <p>
    <strong>Send type:</strong>
    <%= notification.send_type %>
  </p>

  <p>
    <strong>Message type:</strong>
    <%= notification.message_type %>
  </p>

  <p>
    <strong>Sent at:</strong>
    <%= notification.sent_at %>
  </p>

</div>
