<div id="<%= dom_id due %>">
  <p>
    <strong>User:</strong>
    <%= due.user %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= due.date %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= due.amount %>
  </p>

  <p>
    <strong>Payment:</strong>
    <%= due.payment_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= due.status %>
  </p>

  <p>
    <strong>Semester:</strong>
    <%= due.semester %>
  </p>

</div>
