<p style="color: green"><%= notice %></p>

<%= render @due %>

<div>
  <%= link_to "Edit this due", edit_due_path(@due) %> |
  <%= link_to "Back to dues", dues_path %>

  <%= button_to "Destroy this due", @due, method: :delete %>
</div>
