<%= form_with(model: attendance, local: true) do |form| %>
  <% if attendance.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
        <% attendance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, "Select User", style: "display: block" %>
    <%= form.collection_select :user_id, User.all, :id, :name, prompt: "Select a user" %>
  </div>

  <div>
    <%= form.label :event_id, "Select Event", style: "display: block" %>
    <%= form.collection_select :event_id, Event.all, :id, :name, prompt: "Select an event" %>
  </div>

  <div>
    <%= form.label :time, style: "display: block" %>
    <%= form.datetime_field :time %>
  </div>

  <div>
    <%= form.label :status, "Attendance Status", style: "display: block" %>
    <%= form.select :status, Attendance.statuses.keys.map { |status| [status.humanize, status] } %>
  </div>

  <div>
    <%= form.submit "Create Attendance" %>
  </div>
<% end %>
