<%= form_with(model: membership) do |form| %>
  <% if membership.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(membership.errors.count, "error") %> prohibited this membership from being saved:</h2>

      <ul>
        <% membership.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, "Select User", style: "display: block" %>
    <%= form.collection_select :user_id, User.all, :id, :name, prompt: "Select a user" %>
  </div>

  <div>
    <%= form.label :organization_id, "Select Organization", style: "display: block" %>
    <%= form.collection_select :organization_id, Organization.all, :id, :name, prompt: "Select an organization" %>
  </div>

  <div>
    <%= form.label :role, "Select Role", style: "display: block" %>
    <%= form.select :role, Membership.roles.keys.map { |role| [role.humanize, role] } %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
